<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyu.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinyu.mapper.model.Order">
        <id column="id" property="id" />
        <result column="order_code" property="orderCode" />
        <result column="width" property="width" />
        <result column="length" property="length" />
        <result column="amount" property="amount" />
        <result column="quantity" property="quantity" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
